pip install streamlit
cách chạy:
streamlit run ui.py

pip install --no-index --find-links=./offline_pkgs streamlit

vào GitHub tạo new repository


Trên VSCode 

Mở terminal :

git config --global user.name "Tên của anh"
git config --global user.email "email@gmail.com"

git init
tạo file .gitignore với nội dung :
	__pycache__/
	*.pyc
	.env
	venv/
	sessions.json
	data/


add code : git add .
commit : git commit -m "init: runbook agent v3 mini + streamlit UI"
connect GitHub repo : git remote add origin https://github.com/<username>/runbook-agent.git
push lên Git :
	git branch -M main
	git push -u origin main

Commit khi có thay đổi :
	git add .
	git commit -m "update: improve agent logic"
	git push


Clone qua máy khác sử dung :

Vào GitHub --> code --> lấy link https://github.../ten repo

Mở VScode 
git clone https://github.com/username/runbook-agent.git
set và active môi trường :
	python -m venv venv
	python venv\Scripts\activate

********************************************************************
Tạo branch và merge

tạo và chuyển luôn sang branch mới : git checkout -b ten_brach(faiss-dev)
Push lên GitHub : git push -u origin faiss-dev

Kéo về máy khác và làm tiếp :
pull repo : git clone https://github.com/username/runbook-agent.git
cd project-name
chuyển branch : git checkout ten_brach
trong branh : 
	pull code : git pull
	commit : git commit -m "add: faiss-dev search"
	push : git push

Merge :
chuyển về main : git checkout main
merge : git merge faiss-dev
push : git push



